@import url(http://fonts.googleapis.com/css?family=Lato:300,400,700,900);

* {
    box-sizing: border-box;
}

.exactDiv, .parlayDiv, .directDiv{
  width: 33%;
  float: left;
  flex: 1;
  min-width: 300px;
}

body {
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    font-family: 'Lato', Helvetica, sans-serif;
}

a { text-decoration: none; }

button, a.button, select {
    font-size: 13px;
    padding: 5px 8px;
    border: 2px solid grey;
    background-color: #EBE9E7;
    color: #222;
    transition: background 200ms ease-out;
}

button:hover, a.button:hover, select:hover{
    background-color: grey;
    color: #FFF;
}

input, textarea {
    background: white;
    font-family: inherit;
    border: 1px solid #cccccc;
    box-shadow: inset 0 1px 2px rgba(0,0,0,0.1);
    display: block;
    font-size: 18px;
    margin: 0 0 16px 0;
    padding: 8px
}

#content {
    padding-left: 25px;
    padding-right: 25px;
}
.hide {
    display: none;
}

.error {
    color: #cd0000;
    margin: 8px 0;
    display: block;
}

header {
    height: 45px;
    line-height: 45px;
    border-bottom: 1px solid #CCC;
}

header .title {
    font-weight: 900;
    padding-left: 25px;
}

header nav {
    display: inline-block;
    float: right;
    padding-right: 25px;
}

header nav a {
    margin-left: 8px;
}

header nav a:hover {
    background: #222;
    color: #FFF;
}

#login {
    width: 100%;
}

#login form {
    width: 300px;
    margin: 0 auto;
    padding: 25px;
}

#login form input {
    margin-bottom: 15px;
}

#login form label, #login form input {
    display: block;
}

.bets {
    margin-top: 25px;
}

.bets a.bet {
    padding: 25px;
    float: left;
    text-align: center;
    background: #EBE9E7;
    margin: 8px 8px 0 0;
    color: black;
    transition: background 200ms ease-out;
}

.bets:hover a.bet:hover {
    background-color: grey;
    color: #FFF;
}

.lose {
  padding: 25px;
  float: left;
  text-align: center;
  background: #CE4242;
  margin: 8px 8px 0 0;
  color: black;
  transition: background 200ms ease-out;
}

.lose:hover{
  background-color: #CE2323;
  color: white;
}
.won {
  padding: 25px;
  float: left;
  text-align: center;
  background: #BBEAAB ;
  margin: 8px 8px 0 0;
  color: black;
  transition: background 200ms ease-out;
}

.won:hover{
  background-color: #99D884;
  color:white;
}



/* Style The Dropdown Button */
.dropbtn {
    cursor: pointer;
    font-size: 13px;
    padding: 5px 8px;
    border: 2px solid grey;
    background-color: #EBE9E7;
    color: #222;
    transition: background 200ms ease-out;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
    position: relative;
    display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 9999;
}

/* Links inside the dropdown */
.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    background-color: #EBE9E7;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {background-color: grey}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
    display: block;
  color: #FFF;
  background-color: grey;
}

/* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown:hover .dropbtn {
    background-color: grey;
    color: #FFF;
}

.text-home {
  font-size: 50px;
  text-align: center;
  vertical-align: middle;
  display: flex;
}
.container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
}
