{% load staticfiles %}
<!DOCTYPE html>
<html class="no-js">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-COMPATIBLE" content="IE=edge">
        <title>Simulote</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="{% static 'css/normalize.css' %}">
        <link rel="stylesheet" href="{% static 'css/board.css' %}">
        <script type="text/html" id="today-template">
            <div class="exactDiv">
                <h2>Today's Exact Bets</h2>
                <button class="addExact" type="submit">New Exact Bet</button>
                <% if (exacts !== null) { %>
                <div class="bets">
                    <% _.each(exacts.models, function (e) { %>
                    <% if (e.get('draw') == null) { %>
                    <a href="#exact/<%- e.get('id') %>" class="bet">
                        You bet $ <%- e.get('money') %> <br>
                        <span>On the draw #<%- e.get('type') %></span><br>
                        <span>of the <%- e.get('date')%></span><br>
                        <span>( Not yet drawn )</span><br>
                    </a>
                    <% } else { %>
                    <% if (e.get('prize') !== null) { %>
                    <a href="#exact/<%- e.get('id') %>" class="won">
                        $ <%- e.get('money') %> <br>
                        <span>On the draw #<%- e.get('type') %></span><br>
                        <span>of the <%- e.get('date')%></span><br>
                        <span>You won $ <%- e.get('prize') %></span><br>
                    </a>
                    <% } else { %>
                    <a href="#exact/<%- e.get('id') %>" class="lose">
                        $ <%- e.get('money') %> <br>
                        <span>On the draw #<%- e.get('type') %></span><br>
                        <span>of the <%- e.get('date')%></span><br>
                        <span>You didn't win</span>
                    </a>
                    <% }; %>
                    <% }; %>
                    <% }); %>
                </div>
                <% } else { %>
                <h3 class="loading">Loading...</h3>
                <% } %>
            </div>
            <div class="directDiv">
                <h2>Today's Direct Bets</h2>
                <button class="addDirect" type="submit">New Direct Bet</button>
                <% if (directs !== null) { %>
                <div class="bets">
                    <% _.each(directs.models, function (d) { %>
                    <% if (d.get('draw') == null) { %>
                    <a href="#direct/<%- d.get('id') %>" class="bet">
                        $ <%- d.get('money') %> <br>
                        <span>On the draw #<%- d.get('type') %></span><br>
                        <span>of the <%- d.get('date')%></span><br>
                        <span>( Not yet drawn )</span><br>
                    </a>
                    <% } else { %>
                    <% if (d.get('prize') !== null) { %>
                    <a href="#direct/<%- d.get('id') %>" class="won">
                        $ <%- d.get('money') %> <br>
                        <span>On the draw #<%- d.get('type') %></span><br>
                        <span>of the <%- d.get('date')%></span><br>
                        <span>You won $ <%- d.get('prize') %></span><br>
                    </a>
                    <% } else { %>
                    <a href="#direct/<%- d.get('id') %>" class="lose">
                        $ <%- d.get('money') %> <br>
                        <span>On the draw #<%- d.get('type') %></span><br>
                        <span>of the <%- d.get('date')%></span><br>
                        <span>You didn't win</span>
                    </a>
                    <% }; %>
                    <% }; %>
                    <% }); %>
                </div>
                <% } else { %>
                <h3 class="loading">Loading...</h3>
                <% } %>
            </div>
            <div class="parlayDiv">
                <h2>Today's Parlay Bets</h2>
                <button class="addParlay" type="submit">New Parlay Bet</button>
                <% if (parlays !== null) { %>
                <div class="bets">
                    <% _.each(parlays.models, function (b) { %>
                    <% if (b.get('draw') == null) { %>
                    <a href="#parlay/<%- b.get('id') %>" class="bet">
                        $ <%- b.get('money') %> <br>
                        <span>On the draw #<%- b.get('type') %></span><br>
                        <span>of the <%- b.get('date')%></span><br>
                        <span>( Not yet drawn )</span><br>
                    </a>
                    <% } else { %>
                    <% if (b.get('prize') !== null) { %>
                    <a href="#parlay/<%- b.get('id') %>" class="won">
                        $ <%- b.get('money') %> <br>
                        <span>On the draw #<%- b.get('type') %></span><br>
                        <span>of the <%- b.get('date')%></span><br>
                        <span>You won $ <%- b.get('prize') %></span><br>
                    </a>
                    <% } else { %>
                    <a href="#direct/<%- b.get('id') %>" class="lose">
                        $ <%- b.get('money') %> <br>
                        <span>On the draw #<%- b.get('type') %></span><br>
                        <span>of the <%- b.get('date')%></span><br>
                        <span>You didn't win</span>
                    </a>
                    <% }; %>
                    <% }; %>
                    <% }); %>
                </div>
                <% } else { %>
                <h3 class="loading">Loading...</h3>
                <% } %>
            </div>
        </script>
        <script type="text/html" id="previous-template">
            <div class="exactDiv">
                <h2>Previous Exact Bets</h2>
                <button class="addExact" type="submit">New Exact Bet</button>
                <% if (exacts !== null) { %>
                <div class="bets">
                    <% _.each(exacts.models, function (e) { %>
                    <% if (e.get('prize') !== null) { %>
                    <a href="#exact/<%- e.get('id') %>" class="won">
                        You bet $ <%- e.get('money') %> <br>
                        <span>On the draw #<%- e.get('type') %></span><br>
                        <span>of the <%- e.get('date')%></span><br>
                        <span>You won $ <%- e.get('prize') %></span><br>
                    </a>
                    <% } else { %>
                    <a href="#exact/<%- e.get('id') %>" class="lose">
                        You bet $ <%- e.get('money') %> <br>
                        <span>On the draw #<%- e.get('type') %></span><br>
                        <span>of the <%- e.get('date')%></span><br>
                        <span>You didn't win</span>
                    </a>

                    <% }; %>
                    <% }); %>
                </div>
                <% } else { %>
                <h3 class="loading">Loading...</h3>
                <% } %>
            </div>
            <div class="directDiv">
                <h2>Previous Direct Bets</h2>
                <button class="addDirect" type="submit">New Direct Bet</button>
                <% if (directs !== null) { %>
                <div class="bets">
                    <% _.each(directs.models, function (b) { %>
                    <% if (b.get('prize') !== null) { %>
                    <a href="#direct/<%- b.get('id') %>" class="won">
                        You bet $ <%- b.get('money') %> <br>
                        <span>On the draw #<%- b.get('type') %></span><br>
                        <span>of the <%- b.get('date')%></span><br>
                        <span>You won $ <%- b.get('prize') %></span><br>
                     <% } else { %>
                    <a href="#direct/<%- b.get('id') %>" class="lose">
                        You bet $ <%- b.get('money') %> <br>
                        <span>On the draw #<%- b.get('type') %></span><br>
                        <span>of the <%- b.get('date')%></span><br>
                        <span>You didn't win</span>
                    </a>

                    <% }; %>
  </a>
                    <% }); %>
                </div>
                <% } else { %>
                <h3 class="loading">Loading...</h3>
                <% } %>
            </div>
            <div class="parlayDiv">
                <h2>Previous Parlay Bets</h2>
                <button class="addParlay" type="submit">New Parlay Bet</button>
                <% if (parlays !== null) { %>
                <div class="bets">
                    <% _.each(parlays.models, function (b) { %>
                    <% if (b.get('prize') !== null) { %>
                    <a href="#parlay/<%- b.get('id') %>" class="won">
                        $ <%- b.get('money') %> <br>
                        <span>On the draw #<%- b.get('type') %></span><br>
                        <span>of the <%- b.get('date')%></span><br>
                    </a>
                    <% } else { %>
                    <a href="#parlay/<%- b.get('id') %>" class="lose">
                        You bet $ <%- b.get('money') %> <br>
                        <span>On the draw #<%- b.get('type') %></span><br>
                        <span>of the <%- b.get('date')%></span><br>
                        <span>You didn't win</span>
                    </a>

                    <% }; %>
                    <% }); %>
                </div>
                <% } else { %>
                <h3 class="loading">Loading...</h3>
                <% } %>
            </div>
        </script>
        <script type="text/html" id="next-template">
            <div class="exactDiv">
            <h2>Next Exact Bets</h2>
            <button class="addExact" type="submit">New Exact Bet</button>
            <% if (exacts !== null) { %>
            <div class="bets">
                <% _.each(exacts.models, function (e) { %>
                <a href="#exact/<%- e.get('id') %>" class="bet">
                    $ <%- e.get('money') %> <br>
                    <span>On the draw #<%- e.get('type') %></span><br>
                    <span>of the <%- e.get('date')%></span><br>
                    <span>( Not yet drawn )</span><br>
                </a>
                <% }); %>
            </div>
            <% } else { %>
            <h3 class="loading">Loading...</h3>
            <% } %>
            </div>
            <div class="directDiv">
                <h2>Next Direct Bets</h2>
                <button class="addDirect" type="submit">New Direct Bet</button>
                <% if (directs !== null) { %>
                <div class="bets">
                    <% _.each(directs.models, function (d) { %>
                    <a href="#direct/<%- d.get('id') %>" class="bet">
                        $ <%- d.get('money') %> <br>
                        <span>On the draw #<%- d.get('type') %></span><br>
                        <span>of the <%- d.get('date')%></span><br>
                        <span>( Not yet drawn )</span><br>
                    </a>
                    <% }); %>
                </div>
                <% } else { %>
                <h3 class="loading">Loading...</h3>
                <% } %>
            </div>
            <div class="parlayDiv">
            <h2>Next Parlay Bets</h2>
            <button class="addParlay" type="submit">New Parlay Bet</button>
            <% if (parlays !== null) { %>
            <div class="bets">
                <% _.each(parlays.models, function (parlay) { %>
                <a href="#parlay/<%- parlay.get('id') %>" class="bet">
                    $ <%- parlay.get('money') %> <br>
                    <span>On the draw #<%- parlay.get('type') %></span><br>
                    <span>of the <%- parlay.get('date')%></span><br>
                    <span>( Not yet drawn )</span><br>
                </a>
                <% }); %>
            </div>
            <% } else { %>
            <h3 class="loading">Loading...</h3>
            <% } %>
                </div>
        </script>
        <script type="text/html" id="login-template">
            <form action="" method="post">
                <label for="id_username">Username</label>
                <input id="id_username" type="text" name="username" maxlength="30" required />
                <label for="id_password">Password</label>
                <input id="id_password" type="password" name="password" required />
                <button type="submit">Login</button>
            </form>
        </script>
        <script type="text/html" id="header-template">
            <a href="#" style="color:black"><span class="title">SIMULOTE</span></a>
            <% if (authenticated) { %>
                <nav>
                    <div class="dropdown">
                        <button class="dropbtn">Your bets</button>
                        <div class="dropdown-content">
                            <a href="#today">Today</a>
                            <a href="#previous">Previous</a>
                            <a href="#next">Next</a>
                        </div>
                    </div>
                    <a href="#" class="logout button">Logout</a>
                </nav>
            <% } %>
        </script>
        <script type="text/javascript">
            function getToday() {
                var today = new Date()
                var list = document.getElementsByClassName('datePicker');
                var n;
                for (n = 0; n < list.length; ++n) {
                    list[n].valueAsDate=today;
                }
            }
        </script>
        <script type="text/html" id="new-exact-template">
            <form name="exactForm" action="" method="post" id="exactForm">
                <label for="id_money">Money betted</label>
                <input id="id_money" type="number" name="money" max="10000" min="0" required />
                <label for="id_number">Number</label>
                <input id="id_number" type="number" name="number" required />
                <label for="id_position">Position</label>
                <input id="id_position" type="number" name="position" required value="1" />
                <label for="type">Type of draw </label>
                <select name="type" form="exactForm">
                    <option value=1>First  #1</option>
                    <option value=2>Morning  #2</option>
                    <option value=3>Afternoon  #3</option>
                    <option value=4>Night  #4</option>
                </select>
                <br><br>
                <label for="id_date">Date of draw</label>
                <input class="datePicker" type="date" name="date" required onclick="getToday()"/>
            </form>
            <button class="cancel">Cancel</button>
            <button type="submit" form="exactForm">Create</button>
        </script>
        <script type="text/html" id="new-direct-template">
            <form name="directForm" action="" method="post" id="directForm">
                <label for="id_money">Money betted</label>
                <input id="id_money" type="number" name="money" max="10000" required min="0" />
                <label for="id_number">Number</label>
                <input id="id_number" type="number" name="number" maxlength="4" required />
                <label for="id_range">Range</label>
                <input id="id_range" type="text" name="range" required />
                <label for="type">Type of draw </label>
                <select name="type" form="directForm">
                    <option value=1>First  #1</option>
                    <option value=2>Morning  #2</option>
                    <option value=3>Afternoon  #3</option>
                    <option value=4>Night  #4</option>
                </select>
                <br><br>
                <label for="id_date">Date of draw</label>
                <input class="datePicker" type="date" name="date" required onclick="getToday()"/>
            </form>
            <button class="cancel">Cancel</button>
            <button type="submit" form="directForm">Create</button>
        </script>
        <script type="text/html" id="new-parlay-template">
            <form name="parlayForm" action="" method="post" id="parlayForm">
                <label for="id_money">Money betted</label>
                <input id="id_money" type="number" name="money" max="10000" min="0" required onclick="disableParlayTextBox()"/>
                <label for="id_number1">First number</label>
                <input id="id_number1" type="number" name="number1" minlength="2" maxlength="2" required />
                <label for="id_number2">Second number</label>
                <input id="id_number2" type="number" name="number2" required minlength="2" maxlength="2"/>
                <label for="id_position1">First position</label>
                <input name="p1" type="checkbox" />
                <input id="id_position1" type="number" name="position1" disabled/>
                <label for="id_position2">Second position</label>
                <input name="p2" type="checkbox" />
                <input id="id_position2" type="number" name="position2" disabled/>
                <label for="id_range1">First range</label>
                <input name="r1" type="checkbox" />
                <input id="id_range1" type="text" name="range1" disabled/>
                <label for="id_range2">Second range</label>
                <input name="r2" type="checkbox" />
                <input id="id_range2" type="text" name="range2" disabled/>
                <label for="type">Type of draw </label>
                <select name="type" form="parlayForm">
                    <option value=1>First  #1</option>
                    <option value=2>Morning  #2</option>
                    <option value=3>Afternoon  #3</option>
                    <option value=4>Night  #4</option>
                </select>
                <br><br>
                <label for="id_date">Date of draw</label>
                <input class="datePicker" type="date" name="date" required onclick="getToday()"/>
            </form>
            <button class="cancel">Cancel</button>
            <button type="submit" form="parlayForm">Create</button>
        </script>
        <script type="text/javascript">
            function disableParlayTextBox(){
                addParlayListeners();
            function toggleParlayTextBox(e){
                checkbox = e.target;
                if(checkbox.checked == true){
                    if(checkbox.name == "p1"){
                        document.parlayForm.id_position1.disabled=false;
                    }
                    if(checkbox.name == "p2"){
                        document.parlayForm.id_position2.disabled=false;
                    }
                    if(checkbox.name == "r1"){
                        document.parlayForm.id_range1.disabled=false;
                    }
                    if(checkbox.name == "r2"){
                        document.parlayForm.id_range2.disabled=false;
                    }
                }
                else{
                    if(checkbox.name == "p1"){
                        document.parlayForm.id_position1.disabled=true;
                    }
                    if(checkbox.name == "p2"){
                        document.parlayForm.id_position2.disabled=true;
                    }
                    if(checkbox.name == "r1"){
                        document.parlayForm.id_range1.disabled=true;
                    }
                    if(checkbox.name == "r2") {
                        document.parlayForm.id_range2.disabled = true;
                    }
                }
            }
            function addParlayListeners() {
                id_position1 = document.parlayForm.p1;
                id_position1.addEventListener('click', toggleParlayTextBox, false);
                id_position2 = document.parlayForm.p2;
                id_position2.addEventListener('click', toggleParlayTextBox, false);
                id_range1 = document.parlayForm.r1;
                id_range1.addEventListener('click', toggleParlayTextBox, false);
                id_range2 = document.parlayForm.r2;
                id_range2.addEventListener('click', toggleParlayTextBox, false);
            }
        }
        </script>
        <script type="text/html" id="parlay-template">
            <% if (parlay !== null) { %>
                <% if (!parlay.invalid) { %>
                    <h2>You bet &nbsp;<span style="color:red;"> $<%- parlay.get('money') %></span></h2>
                    <span class="date">Set on the draw #<%- parlay.get('type') %> of <%- parlay.get('date') %></span>
            <p>Number 1: <%- parlay.get('number1') %></p>
            <p>Number 2: <%- parlay.get('number2') %></p>
            <% if (parlay.get('position1')){ %>
            <p>Position 1: <%- parlay.get('position1') %></p>
            <% } %>
            <% if (parlay.get('range1')){ %>
            <p>Range 1: <%- JSON.parse(parlay.get('range1')).lower %> to <%- JSON.parse(parlay.get('range1')).upper %></p>
            <% } %>
            <% if (parlay.get('position2')){ %>
            <p>Position 2: <%- parlay.get('position2') %></p>
            <% } %>
            <% if (parlay.get('range2')){ %>
            <p>Range 2: <%- JSON.parse(parlay.get('range2')).lower %> to <%- JSON.parse(parlay.get('range2')).upper %></p>
            <% } %>
                <% if (parlay.get('prize')!=null) { %>
                    <h2 class="number">Prize &nbsp;<span style="color:green;"> $ <%- parlay.get('prize') %></span></h2>
                    <h1 class="number">Net win &nbsp;<span style="color:green"> $ <%- parlay.get('prize') - parlay.get('money') %></span></h1>
            <% } else { %>
            <% if (parlay.get('draw') == null) { %>
            <h2>(Not yet drawn)</h2>
            <% } else { %>
            <h2 style="color: red;">You didn't win</h2>
            <% } %>
                <% } %>
            <% } else { %>
            <h1>Exact bet with id <%- parlay.get('id') %> not found.</h1>
                    <h1>Parlay<%- parlay.get('id') %> not found.</h1>
                <% } %>
            <% } else { %>
                <h1 class="loading">Loading...</h1>
            <% } %>
        </script>
        <script type="text/html" id="exact-template">
            <% if (exact !== null) { %>
            <% if (!exact.invalid) { %>
            <h2>You bet &nbsp;<span style="color:red;"> $<%- exact.get('money') %></span></h2>
            <span class="date">Set on the draw #<%- exact.get('type') %> of <%- exact.get('date') %></span>
            <p class="number">For the number <%- exact.get('number') %> at position <%- exact.get('position') %></p>
                <% if (exact.get('prize')!=null) { %>
                    <h2 class="number">Prize &nbsp;<span style="color:green;"> $ <%- exact.get('prize') %></span></h2>
                    <h1 class="number">Net win &nbsp;<span style="color:green"> $ <%- exact.get('prize') - exact.get('money') %></span></h1>
                <% } else { %>
                    <% if (exact.get('draw') == null) { %>
                    <h2>(Not yet drawn)</h2>
                    <% } else { %>
                    <h2 style="color: red;">You didn't win</h2>
                    <% } %>
                <% } %>
            <% } else { %>
            <h1>Exact bet with id <%- exact.get('id') %> not found.</h1>
            <% } %>
            <% } else { %>
            <h1 class="loading">Loading...</h1>
            <% } %>
        </script>
        <script type="text/html" id="direct-template">
            <% if (direct !== null) { %>
            <% if (!direct.invalid) { %>
            <h2>You bet &nbsp;<span style="color:red;"> $<%- direct.get('money') %></span></h2>
            <span class="date">Set on the draw #<%- direct.get('type') %> of <%- direct.get('date') %></span>
            <p class="number">For the number <%- direct.get('number') %> at range <%- JSON.parse(direct.get('range')).lower %> to <%- JSON.parse(direct.get('range')).upper %></p>
            <% if (direct.get('prize')!=null) { %>
            <h2 class="number">Prize &nbsp;<span style="color:green;"> $ <%- direct.get('prize') %></span></h2>
            <h1 class="number">Net win &nbsp;<span style="color:green"> $ <%- direct.get('prize') - direct.get('money') %></span></h1>
            <% } else { %>
            <% if (direct.get('draw') == null) { %>
            <h2>(Not yet drawn)</h2>
            <% } else { %>
            <h2 style="color: red;">You didn't win</h2>
            <% } %>
            <% } %>
            <% } else { %>
            <h1>Direct bet with id <%- direct.get('id') %> not found.</h1>
            <% } %>
            <% } else { %>
            <h1 class="loading">Loading...</h1>
            <% } %>
        </script>
        <script type="text/html" id="home-template">
            <% if (users !== null) { %>
                <% _.each(users.models, function (e) { %>
            <div class="container">
                    <% if (e.get('money') > 0) { %>
                        <div class="text-home" style="color:green"> You would have <br> $ <%- e.get('money').toFixed(2) %> more.</div>
                    <% } else { %>
                        <div class="text-home" style="color:red">  You would have <br> $ <%- Math.abs(e.get('money')).toFixed(2) %> less.</div>
                    <% } %>
                </div>
            <% } ) } %>
        </script>
    </head>
    <body>
        <div id="content"></div>
        <script src="{% static 'js/jquery.js' %}"></script>
        <script src="{% static 'js/underscore.js' %}"></script>
        <script src="{% static 'js/backbone.js' %}"></script>
        <script id="config" type="text/json">
            {
                "models": {},
                "collections": {},
                "views": {},
                "router": null,
                "apiRoot": "{% url 'api-root' %}",
                "apiLogin": "{% url 'api-token' %}"
            }
        </script>
        <script src="{% static 'js/app.js' %}"></script>
        <script src="{% static 'js/models.js' %}"></script>
        <script src="{% static 'js/views.js' %}"></script>
        <script src="{% static 'js/router.js' %}"></script>
    </body>
</html>
